<form action="{% url 'shoppingList:createList' %}" method="post">
    {% csrf_token %}
    <ul>
    {% for ingredient in object_list %}
    <input type="checkbox" name ="ingredient" value="{{ ingredient.id }}"> {{ ingredient.name }} <br>
    {% empty %}
    <li>No ingredients yet.</li>
    {% endfor %}<br>
    <button type="button" onclick="location.href='{% url 'ingredients:add' %}'" >Add missing ingredient</button>
    <button type="submit" value="addToShoppingList">Add to shopping list</button>
</ul>
</form>